.background-radial-gradient {
    background-color: hsl(161, 80%, 23%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(147, 78%, 23%) 15%,
        hsl(144, 50%, 29%) 35%,
        hsl(150, 43%, 44%) 75%,
        hsl(159, 86%, 40%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
      hsl(147, 78%, 23%) 15%,
        hsl(144, 50%, 29%) 35%,
        hsl(150, 43%, 44%) 75%,
        hsl(159, 86%, 40%) 80%,
        transparent 100%);
        /* height: 100%; */
  }


  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  .card{
    margin-top: 100px;
  }
  .btn{
    /* padding: auto; */
    width: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .logo{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-primary{
background-color: #0d6836;
  }